* {
    font-family: "Raleway", sans-serif;
}
body {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 235, 205, 0.2),
        rgba(255, 235, 205, 1)
    );
    height: 100%;
    background-attachment: fixed;
}

footer {
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #efcfa5;
    text-align: center;
}

li {
    color: white !important;
}

li > a:hover {
    color: #d6c71e !important;
}

#top-head {
    background-image: linear-gradient(to right, #ffe6cc, #ffff99, #ccffff);
}

#top-logo {
    width: 80px;
    background: white;
    border-radius: 48%;
}

#home-img-container {
    width: 80%;
    margin-top: 20%;
}

#home-img {
    width: 100%;
    opacity: 0.4;
}

#home-img-overlay {
    margin-top: 30%;
    margin-left: 3%;
    text-align: center;
}

// For self care page
.l-changes {
    margin-bottom: 3%;
    padding-left: 2%;
}

.c-title {
    text-align: center;
    font: larger bolder;
    padding-top: 2%;
}

aside img {
    margin: 5%;
    padding: 3%;
}

.container {
    margin-top: 1%;
    padding: 1%;
}

.img-content {
    height: 90%;
    margin: 5%;
    padding: 5%;
    width: 80%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.4);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

// For diet page
.diet-header {
    margin-top: 2%;
    padding-top: 1%;
}

ul > li,
td {
    color: #873d37 !important;
}

th {
    background-color: #873d37 !important;
    color: white !important;
}
